* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    /* width: 100vw;
    height: 100vw; */
/*     overflow-x: hidden; */
    /* background-color: black; */
}

#logo {
    width: 10vw;
    display: block;
    margin: 35vh auto 3vh;
}


#logo-small {
    height: 75px;
    width: 140px;
    float: left;
    margin: 0 0 3vh 15vw;
    /* mix-blend-mode:color; */
}

#enter-btn {
    margin: 20px auto;
    display: block;
    /* margin-top: 20px; */
    border: 0.5px solid #0d6efd;
    color: #0d6efd;
    background-color: inherit;
    height: 35px;
    border-radius: 4px;
    width: 65px;
    text-decoration-style: none;
}

#enter-btn:hover {
    border: none;
    color: white;
    background-color: #0d6efd;
}

svg {
    /* width: 40px; */
    height: 40px;
    float: right;
    margin: 2vh 15vw 3vh 0;

}

#landing-nav {
    height: 70px;
    /* border-bottom: 2px solid black; */
    width: 100%;
}

header{
    background-color: rgb(22 22 23/80%);
    backdrop-filter: blur(20px);
    height: 70px;
}

.like:hover {
    fill: red;
}

.send:hover {
    fill: blue
}

.card {
    margin-bottom: 10px;
    /* max-width: 25%; */
    width: 450px;
    /* min-width: 350px; */
    height: fit-content;
    box-sizing: border-box;
}

h4,
h5 {
    text-align: left;
    margin-left: 10px;
}

h4 {
    width: 100%;
    color: gray;
}

.post-img {
    width: 100%;
}

.menu-btn {
    position: absolute;
    top: -10px;
    left: 390px;
}

.send {
    grid-row: 1/2;
    grid-column: 2/3;
}

.like {
    grid-row: 1/2;
    grid-column: 1/2;
}

.date{
    grid-row: 1/2;
    grid-column: 6/8;
    width: 100%;
    margin-left:20px;
}

.likes-container {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-rows: auto auto;
}

.likes {
    text-align: left;
    margin-left: 10px;
    color: grey;
}

.desc {
    margin-left: 10px;
}

.menu-btn {
    width: 30px;
}

.feed{
    padding-top: 80px;
    width: 100%;
    overflow: hidden;
    background: black;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    background-color: black;
}
